{% extends 'layout.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <input type="text" id="tweets">
    <button type="button" id="btn-tweet">Envoyer le tweet</button>

    <script>
        $("#btn-tweet").on("click", function () {
            console.log($("#tweets").val());
            $.ajax({
                url: "/twitter/api/sendTweet",
                dataType: "json",
                data: {
                    content: $("#tweets").val(),
                },
                type: "POST",
                success: function(data){
                    console.log(data);
                }

            });
        })

    </script>
{% endblock %}