{% extends 'layout.html.twig' %}

{% block body %}
    {% if user %}
        <div>
            {{ user.username }}
        </div>
        <a href="/logout">Se déconnecter</a>

        <div>
        {% if user.oauthTwitter %}
            Twitter: Connecté
            <a href="/twitter/account/tweets">Mes tweets</a>
            <a href="/twitter/sendTweet">Envoyer un tweet</a>
        {% else %}
            <a href="/twitter/sessions/connect">Connecter mon compte Twitter</a>
        {% endif %}
        </div>

        <div>
        {% if user.oauthSpotify %}
            Spotify: connecté
            <a href="/spotify/getUserPlaylist">Ecouter une de mes playlists</a>
            {% else %}
                <a href="/spotify/sessions/connect">Connecter mon compte Spotify</a>
        {% endif %}
        </div>

        <div>
        {% if user.oauthYoutube %}
            Youtube: connecté
            <a href="/youtube/channel">Channel Informations</a>
            <a href="/youtube/laststats">Statistiques du dernier mois</a>
            {% else %}
                <a href="/youtube/sessions/connect">Connecter mon compte Youtube</a>
        {% endif %}
        </div>

        <div>
        {% if user.oauthSteam %}
            Steam: Connecté
            <div>
                <a href="/steam/getCurrentPlayerForGame">Widget nombre de joueur pour un jeu</a>
            </div>
            <div>
                <a href="/steam/myLibraryPrice">Estimer le prix de ma bibliothèque Steam</a>
            </div>
            <div>
                <a href="/steam/getfriendlist">Ma liste d'amis Steam</a>
            </div>
            {% else %}
                <a href="/steam/sessions/connect">Connecter mon compte Steam</a>
        {% endif %}
        </div>
        
    {% else %}
        <a href="/login">Se connecter</a>
        <a href="/register">S'inscrire</a>
    {% endif %}
{#    <p>Coucou</p>#}
{% endblock %}