{% extends 'layout.html.twig' %}

{% block body %}
    {% if user %}
    {{ user.username }} zedzed
        <a href="/logout">Se déconnecter</a>
        {% else %}
        <a href="/login">Se connecter</a>
        <a href="/register">S'inscrire</a>
    {% endif %}
{#    <p>Coucou</p>#}
{% endblock %}