<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <title>This is the title of the webpage!</title>
</head>
<body>

<div class="contain">
    <div class="side-bar">
        <div class="side-button">
            <div class="button-icon">
                <a href="#dashboard" style="display: flex">
                    <div class="trait trait-active"></div>
                    <svg width="100%" height="25" viewBox="0 0 24 24" class="icon">
                        <path class="path-base path-active"
                              d="M12.984 3h8.016v6h-8.016v-6zM12.984 21v-9.984h8.016v9.984h-8.016zM3 21v-6h8.016v6h-8.016zM3 12.984v-9.984h8.016v9.984h-8.016z"
                        ></path>
                    </svg>
                </a>
            </div>

            <div class="button-icon">
                <a href="#twitter" style="display: flex">
                    <div class="trait trait-none"></div>
                    <svg width="100%" height="25" viewBox="0 0 32 32" class="icon">
                        <path class="path-base path"
                              d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"
                        ></path>
                    </svg>
                </a>
            </div>

            <div class="button-icon">
                <a href="#spotify" style="display: flex">
                    <div class="trait trait-none"></div>
                    <svg width="100%" height="25" viewBox="0 0 32 32" class="icon">
                        <path class="path-base path"
                              d="M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.119-16-16-16zM23.363 23.119c-0.319 0.481-0.881 0.637-1.363 0.319-3.762-2.319-8.481-2.8-14.081-1.519-0.563 0.163-1.037-0.238-1.2-0.719-0.162-0.563 0.237-1.038 0.719-1.2 6.081-1.363 11.363-0.8 15.519 1.762 0.563 0.238 0.644 0.875 0.406 1.356zM25.281 18.719c-0.4 0.563-1.119 0.8-1.681 0.4-4.319-2.637-10.881-3.438-15.919-1.837-0.638 0.163-1.362-0.163-1.519-0.8-0.162-0.637 0.162-1.363 0.8-1.519 5.838-1.762 13.037-0.881 18 2.163 0.475 0.238 0.719 1.038 0.319 1.594zM25.438 14.238c-5.119-3.037-13.681-3.363-18.563-1.838-0.8 0.238-1.6-0.238-1.838-0.963-0.237-0.8 0.237-1.6 0.963-1.838 5.681-1.681 15.038-1.363 20.962 2.162 0.719 0.4 0.962 1.363 0.563 2.081-0.406 0.556-1.363 0.794-2.087 0.394z"
                        ></path>
                    </svg>
                </a>
            </div>

            <div class="button-icon">
                <a href="#youtube" style="display: flex">
                    <div class="trait trait-none"></div>
                    <svg width="100%" height="25" viewBox="0 0 32 32" class="icon">
                        <path class="path-base path"
                              d="M31.681 9.6c0 0-0.313-2.206-1.275-3.175-1.219-1.275-2.581-1.281-3.206-1.356-4.475-0.325-11.194-0.325-11.194-0.325h-0.012c0 0-6.719 0-11.194 0.325-0.625 0.075-1.987 0.081-3.206 1.356-0.963 0.969-1.269 3.175-1.269 3.175s-0.319 2.588-0.319 5.181v2.425c0 2.587 0.319 5.181 0.319 5.181s0.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563 0.244 10.881 0.319 10.881 0.319s6.725-0.012 11.2-0.331c0.625-0.075 1.988-0.081 3.206-1.356 0.962-0.969 1.275-3.175 1.275-3.175s0.319-2.587 0.319-5.181v-2.425c-0.006-2.588-0.325-5.181-0.325-5.181zM12.694 20.15v-8.994l8.644 4.513-8.644 4.481z"
                        ></path>
                    </svg>
                </a>
            </div>

            <div class="button-icon">
                <a href="#steam" style="display: flex">
                    <div class="trait trait-none"></div>
                    <svg width="100%" height="25" viewBox="0 0 32 32" class="icon">
                        <path class="path-base path"
                              d="M9.498 26.125c0.848 0 1.681-0.41 2.187-1.169 0.804-1.206 0.478-2.836-0.728-3.64l-2.065-1.377c0.353-0.096 0.725-0.149 1.109-0.149 2.325 0 4.209 1.884 4.209 4.209s-1.885 4.209-4.209 4.209c-2.263 0-4.108-1.785-4.205-4.024l2.249 1.499c0.448 0.298 0.953 0.441 1.454 0.441zM26.667 0c2.934 0 5.333 2.4 5.333 5.334v21.332c0 2.936-2.399 5.334-5.333 5.334h-21.333c-2.934 0-5.334-2.398-5.334-5.334v-6.345l3.792 2.528c-0.364 1.974 0.217 4.088 1.744 5.615 2.466 2.466 6.463 2.466 8.929 0 1.515-1.515 2.098-3.607 1.752-5.568l7.783-6.968c1.445-0.207 2.838-0.867 3.95-1.979 2.734-2.734 2.734-7.166 0-9.899s-7.166-2.734-9.9 0c-1.112 1.112-1.771 2.505-1.979 3.95v0l-6.397 9.695c-0.995 0.051-1.981 0.336-2.866 0.856l-6.808-4.539v-8.678c0-2.934 2.4-5.334 5.334-5.334h21.333zM28 9c0-2.761-2.239-5-5-5s-5 2.239-5 5 2.239 5 5 5 5-2.239 5-5zM20 9c0-1.657 1.343-3 3-3s3 1.343 3 3-1.343 3-3 3-3-1.343-3-3z"
                        ></path>
                    </svg>
                </a>
            </div>

            <div class="button-icon">
                <a href="#parameter" style="display: flex">
                    <div class="trait trait-active"></div>
                    <svg width="100%" height="25" viewBox="0 0 24 24" class="icon">
                        <path class="path-base path-active"
                              d="M9.387 17.548l0.371 1.482c0.133 0.533 0.692 0.97 1.242 0.97h1c0.55 0 1.109-0.437 1.242-0.97l0.371-1.482c0.133-0.533 0.675-0.846 1.203-0.694l1.467 0.42c0.529 0.151 1.188-0.114 1.462-0.591l0.5-0.867c0.274-0.477 0.177-1.179-0.219-1.562l-1.098-1.061c-0.396-0.383-0.396-1.008 0.001-1.39l1.096-1.061c0.396-0.382 0.494-1.084 0.22-1.561l-0.501-0.867c-0.275-0.477-0.933-0.742-1.461-0.591l-1.467 0.42c-0.529 0.151-1.070-0.161-1.204-0.694l-0.37-1.48c-0.133-0.532-0.692-0.969-1.242-0.969h-1c-0.55 0-1.109 0.437-1.242 0.97l-0.37 1.48c-0.134 0.533-0.675 0.846-1.204 0.695l-1.467-0.42c-0.529-0.152-1.188 0.114-1.462 0.59l-0.5 0.867c-0.274 0.477-0.177 1.179 0.22 1.562l1.096 1.059c0.395 0.383 0.395 1.008 0 1.391l-1.098 1.061c-0.395 0.383-0.494 1.085-0.219 1.562l0.501 0.867c0.274 0.477 0.933 0.742 1.462 0.591l1.467-0.42c0.528-0.153 1.070 0.16 1.203 0.693zM11.5 10.5c1.104 0 2 0.895 2 2s-0.896 2-2 2-2-0.896-2-2c0-1.105 0.896-2 2-2z"
                        ></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="side-content">
            <div class="hide trait-content"></div>
            <div class="hide content" id="twitter">
                <p>Contenue Twitter</p>
            </div>
            <div class="hide content" id="spotify">
                <p>Contenue Spotify</p>
            </div>
            <div class="hide content" id="youtube">
                <p>Contenue Youtube</p>
            </div>
            <div class="hide content" id="steam">
                <p>Contenue Steam</p>
            </div>
        </div>
    </div>


        {% block body %}

        {% endblock %}


    {#    Importer un SVG proprement   #}
    {#<svg width="100%" height="30" viewBox="0 0 24 24" class="icon">
        <path id="icon"
              d="M12.984 3h8.016v6h-8.016v-6zM12.984 21v-9.984h8.016v9.984h-8.016zM3 21v-6h8.016v6h-8.016zM3 12.984v-9.984h8.016v9.984h-8.016z"
              style="fill: #b8b4cc"></path>
    </svg>#}


</div>

<script src="/JS/sideBar.js"></script>

</body>
</html>
