body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #cacaca;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 5%;
  background-color: white;
}

.icon {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.icon path {
  fill: #b8b4cc;
}

.icon path:hover {
  fill: #007cfd;
  cursor: pointer;
}

.active {
  fill: #007cfd;
  cursor: pointer;
}

.contain {
  display: flex;
  flex-direction: row;
}
