* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #f4f6f7;
    font-size: 15px;
    font-weight: 400;
    background-color: #151724;
}

.side-bar {
    display: flex;
    flex-direction: row;
}

.side-button {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60px;
    background-color: #1f212d;
    justify-content: flex-start;
}

.side-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: auto;
    background-color: #1e212d;
    justify-content: flex-start;
}

.icon {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.icon:hover {
    cursor: pointer;
}

.path {
    fill: #b8b4cc;
}

.path:hover {
    fill: #ebe6ff;
    cursor: pointer;
}

.path-active {
    fill: #1b9dec;
}

.contain {
    display: flex;
    flex-direction: row;
}

.button-icon {
    display: flex;
    flex-direction: row;
    margin: 30% 0 30% 0;
    width: 60px;
}

.button-icon:hover .path {
    fill: #ebe6ff;
    cursor: pointer;
}

.trait-active {
    height: 100%;
    width: 5px;
    background-color: #1b9dec;
}

.trait-content {
    height: 100vh;
    width: 1px;
    background-color: #3f3e45;
}

.trait-none {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.container-contain {
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: center;
    background-color: #ffffff29;
    margin: 20px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.custom-select {
    position: relative;
    font-family: Arial;
    margin-bottom: 20px;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #1b9dec;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    left: 100px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    width: 90px;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 124px;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.input-contain {
    background-color: #0000001f;
    border: none;
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
    font-size: 23px;
    width: 100%;
    cursor: text;
}

.input-contain:focus {
    outline: none;
}

.button-ok {
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    border-color: transparent;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: 500 !important;
    display: flex;
    width: 60px;
    justify-content: center;
    padding: 6px;
    background-color: #1b9dec;
    text-decoration: none;
}

.button-ok:hover {
    font-weight: 400;
    cursor: pointer;
    background-color: #1b77c1;
}

ul#ui-id-2 {
    overflow: scroll !important;
    height: 50% !important;
    width: 20% !important;
}

.ui-menu .ui-menu-item-wrapper:hover {
    background-color: #8b8b8b !important;
    border: none !important;
    outline: none !important;
}
